/publish.bat
/MoreKillMoreSpeed/run.bat
/MoreKillMoreSpeed/bin/**/*
/MoreKillMoreSpeed/obj/**/*
/MoreKillMoreSpeed/Assembly-CSharp.dll
/MoreKillMoreSpeed/BloonsTD6 Mod Helper.dll
/MoreKillMoreSpeed/BloonsTD6 Mod Helper.xml
/MoreKillMoreSpeed/Il2Cppmscorlib.dll
/MoreKillMoreSpeed/Il2CppSystem.dll
/MoreKillMoreSpeed/mscorlib.dll
/MoreKillMoreSpeed/MelonLoader.dll
/MoreKillMoreSpeed/UnhollowerBaseLib.dll

